<div class="logsignin">
  <h2>Change your password</h2>
  <br>

  <div class="form-container col-md-12">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field form-group col-md-10">
        <%= f.label :password, "New password" %><br />
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em><br />
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="field form-group col-md-10">
        <%= f.label :password_confirmation, "Confirm new password" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="actions form-group col-md-10">
        <%= f.submit "Change my password", class: "btn btn-success btn-default" %>
        <hr>
      </div>
    <% end %>

    <div class="actions form-group col-md-10">
      <%= render "devise/shared/links" %>
    </div>

  </div>
</div>