<h2>Project Summary</h2>

<p>
Syndasera is a dynamic synthetic data service allowing users like yourselves to create requests
for synthetic data generation from a real time-series patient dataset. We use sophisticated machine
learning algorithms and effective privacy evaluations to make sure that your synthesised data is as
realistic as possible whist protecting the privacy of your patients, which is of utmost importance.
Please see below for an example of data synthesised from the Program for Resistance, 
Immunology, Surveillance and Modeling of Malaria (PRISM) dataset. 
</p>

<hr>

PRISM was a longitudinal cohort study conducted in different transmission settings in Uganda. 
All children 6 months to 10 years old within a household and up to one primary caregiver were 
enrolled in a dynamic cohort, and children were excluded from follow-up after reaching 11 years of age.
Participants had routine clinic visits roughly every 3 months and attended a study clinic any 
time they became ill.

<br><br><br>
<%= javascript_include_tag 'home.js' %>

<div style="overflow-x:auto;">
  <table class="table table-striped table-bordered" id="data-table">
    <thead>
      <tr>
        <th>Participant ID</th>
        <th>Household ID</th>
        <th>HospVisitDate</th>
        <th>Age</th>
        <th>Temperature (C)</th>
        <th>Weight (kg)</th>
        <th>Abdominal Pain Duration</th>
        <th>Admitting Hospital</th>
        <th>Anorexia Duration</th>
        <th>Plasmodium Parasite Density</th>
        <th>Basis of Complicated Diagnosis</th>
        <th>Complicated Malaria</th>
        <th>Cough Duration</th>
        <th>Diagnosis at Hospitalisation</th>
        <th>Diarrhoea Duration</th>
        <th>Fatigue Duration</th>
        <th>Fever Duration</th>
        <th>Headache Duration</th>
        <th>Hospital Admission Date</th>
        <th>Hopsital Discharge Date</th>
        <th>ITN Last Night</th>
        <th>Jaundice Duration</th>
        <th>Joint Pains Duration</th>
        <th>Malaria Diagnosis</th>
        <th>Parasite Status</th>
        <th>Malaria Treatment</th>
        <th>Muscle Aches Duration</th>
        <th>Non Malaria Medication</th>
        <th>Other Diagnosis</th>
        <th>Other Medical Complaint</th>
        <th>Plasmodium Gametocytes Present</th>
        <th>Seizures Duration</th>
        <th>Severe Malaria Criteria</th>
        <th>Subjective Fever</th>
        <th>Submicroscopic Plasmodium Present</th>
        <th>Visit Type</th>
      </tr>
    </thead>

    <% @observations.each do |observation| %>
      <tr>
        <td><%= observation.participant_id %></td>
        <td><%= observation.household_id %></td>
        <td><%= observation.visit_date %></td>
        <td><%= observation.age_at_visit %></td>
        <td><%= observation.temperature %></td>
        <td><%= observation.weight %></td>
        <td><%= observation.abdominal_pain_duration %></td>
        <td><%= observation.admitting_hospital %></td>
        <td><%= observation.anorexia_duration %></td>
        <td><%= observation.asexual_plasmodium_parasite_density %></td>
        <td><%= observation.basis_of_complicated_diagnosis %></td>
        <td><%= observation.complicated_malaria %></td>
        <td><%= observation.cough_duration %></td>
        <td><%= observation.diagnosis_at_hospitalisation %></td>
        <td><%= observation.diarrhoea_duration %></td>
        <td><%= observation.fatigue_duration %></td>
        <td><%= observation.fever_duration %></td>
        <td><%= observation.headache_duration %></td>
        <td><%= observation.hospital_admission_date %></td>
        <td><%= observation.hospital_discharge_date %></td>
        <td><%= observation.itn_last_night %></td>
        <td><%= observation.jaundice_duration %></td>
        <td><%= observation.joint_pains_duration %></td>
        <td><%= observation.malaria_diagnosis %></td>
        <td><%= observation.malaria_diagnosis_and_parasite_status %></td>
        <td><%= observation.malaria_treatment %></td>
        <td><%= observation.muscle_aches_duration %></td>
        <td><%= observation.non_malaria_medication %></td>
        <td><%= observation.other_diagnosis %></td>
        <td><%= observation.other_medical_complaint %></td>
        <td><%= observation.plasmodium_gametocytes_present %></td>
        <td><%= observation.seizures_duration %></td>
        <td><%= observation.severe_malaria_criteria %></td>
        <td><%= observation.subjective_fever %></td>
        <td><%= observation.submicroscopic_plasmodium_present %></td>
        <td><%= observation.visit_type %></td>
      </tr>
    <% end %>
  </table>
</div>

<div class="notes col-md-4">
  <p>* all durations are given in days</p>
  <p>* all dates are in the form yyyy/mm/dd</p>
</div>

<div class="text-center">
  <div class="page_info">
    <%= page_entries_info @observations %>
  </div>
  <%= will_paginate @observations, :container => false, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, list_classes: %w(pagination justify-content-center) %>
</div>
