<h2>Project Summary</h2>

Syndasera is a dynamic synthetic data service allowing users like yourselves to create requests
for synthetic data generation from a real time-series patient dataset. We use sophisticated machine
learning algorithms and effective privacy evaluations to make sure that your synthesised data is as
realistic as possible whist protecting the privacy of your patients, which is of utmost importance.
Please see below for an example of data synthesised from the 
<span data-toggle="tooltip" style="color:blue; font-weight:bold;" 
title="PRISM was a longitudinal cohort study conducted in different transmission settings in Uganda. 
All children 6 months to 10 years old within a household and up to one primary caregiver were 
enrolled in a dynamic cohort, and children were excluded from follow-up after reaching 11 years of age.
Participants had routine clinic visits roughly every 3 months and attended a study clinic any 
time they became ill."> 
Program for Resistance, Immunology, Surveillance and Modeling of Malaria (PRISM) dataset
</span>.

<hr>
<%= javascript_include_tag 'home.js' %>

<div class="col-md-4">
  <div class="card" style="width: 18rem;">
    <div class="card-header text-center">
      <b>Filter by Column</b><br>
      <button class="btn btn-info" type="button" id="select-all">Select All</button>
      <button class="btn btn-info" type="button" id="select-none">Select None</button>
    </div>
    <div class="list-group">
      <input type="checkbox" id="CheckBox1" class="checkbox" checked />
      <label class="list-group-item" for="CheckBox1">Participant ID</label>

      <input type="checkbox" id="CheckBox2" class="checkbox" checked />
      <label class="list-group-item" for="CheckBox2" >Household ID</label>

      <input type="checkbox" id="CheckBox3" class="checkbox" checked />
      <label class="list-group-item" for="CheckBox3">Hospital Visit Date</label>

      <input type="checkbox" id="CheckBox4" class="checkbox" checked />
      <label class="list-group-item" for="CheckBox4">Age</label>

      <input type="checkbox" id="CheckBox5" class="checkbox" checked />
      <label class="list-group-item" for="CheckBox5">Weight (kg)</label>

      <input type="checkbox" id="CheckBox6" class="checkbox" checked />
      <label class="list-group-item" for="CheckBox6">Temperature (C)</label>

      <input type="checkbox" id="CheckBox7" class="checkbox" checked />
      <label class="list-group-item" for="CheckBox7">Abdominal Pain Duration</label>

      <input type="checkbox" id="CheckBox8" class="checkbox" checked />
      <label class="list-group-item" for="CheckBox8">Admitting Hospital</label>

      <input type="checkbox" id="CheckBox9" class="checkbox" checked />
      <label class="list-group-item" for="CheckBox9">Anorexia Duration</label>

      <input type="checkbox" id="CheckBox10" class="checkbox" checked />
      <label class="list-group-item" for="CheckBox10">Plasmodium Parasite Density</label>

      <input type="checkbox" id="CheckBox11" class="checkbox" checked />
      <label class="list-group-item" for="CheckBox11">Basis of Complicated Diagnosis</label>

      <input type="checkbox" id="CheckBox12" class="checkbox" checked />
      <label class="list-group-item" for="CheckBox12">Complicated Malaria</label>

      <input type="checkbox" id="CheckBox13" class="checkbox" checked />
      <label class="list-group-item" for="CheckBox13">Cough Duration</label>

      <input type="checkbox" id="CheckBox14" class="checkbox" checked />
      <label class="list-group-item" for="CheckBox14">Diagnosis at Hospitalisation</label>

      <input type="checkbox" id="CheckBox15" class="checkbox" checked />
      <label class="list-group-item" for="CheckBox15">Diarrhoea Duration</label>

      <input type="checkbox" id="CheckBox16" class="checkbox" checked />
      <label class="list-group-item" for="CheckBox16">Fatigue Duration</label>

      <input type="checkbox" id="CheckBox17" class="checkbox" checked />
      <label class="list-group-item" for="CheckBox17">Fever Duration</label>

      <input type="checkbox" id="CheckBox18" class="checkbox" checked />
      <label class="list-group-item" for="CheckBox18">Headache Duration</label>

      <input type="checkbox" id="CheckBox19" class="checkbox" checked />
      <label class="list-group-item" for="CheckBox19">Hospital Admission Date</label>

      <input type="checkbox" id="CheckBox20" class="checkbox" checked />
      <label class="list-group-item" for="CheckBox20">Hospital Discharge Date</label>

      <input type="checkbox" id="CheckBox21" class="checkbox" checked />
      <label class="list-group-item" for="CheckBox21">ITN Last Night</label>

      <input type="checkbox" id="CheckBox22" class="checkbox" checked />
      <label class="list-group-item" for="CheckBox22">Jaundice Duration</label>

      <input type="checkbox" id="CheckBox23" class="checkbox" checked />
      <label class="list-group-item" for="CheckBox23">Joint Pains Duration</label>

      <input type="checkbox" id="CheckBox24" class="checkbox" checked />
      <label class="list-group-item" for="CheckBox24">Malaria Diagnosis</label>

      <input type="checkbox" id="CheckBox25" class="checkbox" checked />
      <label class="list-group-item" for="CheckBox25">Parasite Status</label>

      <input type="checkbox" id="CheckBox26" class="checkbox" checked />
      <label class="list-group-item" for="CheckBox26">Malaria Treatment</label>

      <input type="checkbox" id="CheckBox27" class="checkbox" checked />
      <label class="list-group-item" for="CheckBox27">Muscle Aches Duration</label>

      <input type="checkbox" id="CheckBox28" class="checkbox" checked />
      <label class="list-group-item" for="CheckBox28">Non Malaria Medication</label>

      <input type="checkbox" id="CheckBox29" class="checkbox" checked />
      <label class="list-group-item" for="CheckBox29">Other Diagnosis</label>

      <input type="checkbox" id="CheckBox30" class="checkbox" checked />
      <label class="list-group-item" for="CheckBox30">Other Medical Complaint</label>

      <input type="checkbox" id="CheckBox31" class="checkbox" checked />
      <label class="list-group-item" for="CheckBox31">Plasmodium Gametocytes Present</label>

      <input type="checkbox" id="CheckBox32" class="checkbox" checked />
      <label class="list-group-item" for="CheckBox32">Seizures Duration</label>

      <input type="checkbox" id="CheckBox33" class="checkbox" checked />
      <label class="list-group-item" for="CheckBox33">Severe Malaria Criteria</label>

      <input type="checkbox" id="CheckBox34" class="checkbox" checked />
      <label class="list-group-item" for="CheckBox34">Subjective Fever</label>

      <input type="checkbox" id="CheckBox35" class="checkbox" checked />
      <label class="list-group-item" for="CheckBox35">Submicroscopic Plasmodium Present</label>

      <input type="checkbox" id="CheckBox36" class="checkbox" checked />
      <label class="list-group-item" for="CheckBox36">Visit Type</label>
    </div>
  </div>
</div>

<br />

<div class="notes col-md-6">
  <p>All durations are given in days and all dates are in the form yyyy/mm/dd</p>
</div>

<div class="data-table">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Participant ID</th>
        <th>Household ID</th>
        <th>HospVisitDate</th>
        <th>Age</th>
        <th>Weight (kg)</th>
        <th>Temperature (C)</th>
        <th>Abdominal Pain Duration</th>
        <th>Admitting Hospital</th>
        <th>Anorexia Duration</th>
        <th>Plasmodium Parasite Density</th>
        <th>Basis of Complicated Diagnosis</th>
        <th>Complicated Malaria</th>
        <th>Cough Duration</th>
        <th>Diagnosis at Hospitalisation</th>
        <th>Diarrhoea Duration</th>
        <th>Fatigue Duration</th>
        <th>Fever Duration</th>
        <th>Headache Duration</th>
        <th>Hospital Admission Date</th>
        <th>Hopsital Discharge Date</th>
        <th>ITN Last Night</th>
        <th>Jaundice Duration</th>
        <th>Joint Pains Duration</th>
        <th>Malaria Diagnosis</th>
        <th>Parasite Status</th>
        <th>Malaria Treatment</th>
        <th>Muscle Aches Duration</th>
        <th>Non Malaria Medication</th>
        <th>Other Diagnosis</th>
        <th>Other Medical Complaint</th>
        <th>Plasmodium Gametocytes Present</th>
        <th>Seizures Duration</th>
        <th>Severe Malaria Criteria</th>
        <th>Subjective Fever</th>
        <th>Submicroscopic Plasmodium Present</th>
        <th>Visit Type</th>
        <th>Vomiting Duration</th>
      </tr>
    </thead>

    <% @observations.each do |observation| %>
      <tr>
        <td><%= replace_na(observation.participant_id) %></td>
        <td><%= replace_na(observation.household_id) %></td>
        <td><%= replace_na(observation.visit_date) %></td>
        <td><%= replace_na(observation.age_at_visit) %></td>
        <td><%= replace_na(observation.weight) %></td>
        <td><%= replace_na(observation.temperature) %></td>
        <td><%= replace_na(observation.abdominal_pain_duration) %></td>
        <td><%= replace_na(observation.admitting_hospital) %></td>
        <td><%= replace_na(observation.anorexia_duration) %></td>
        <td><%= replace_na(observation.asexual_plasmodium_parasite_density) %></td>
        <td><%= replace_na(observation.basis_of_complicated_diagnosis) %></td>
        <td><%= replace_na(observation.complicated_malaria) %></td>
        <td><%= replace_na(observation.cough_duration) %></td>
        <td><%= replace_na(observation.diagnosis_at_hospitalisation) %></td>
        <td><%= replace_na(observation.diarrhoea_duration) %></td>
        <td><%= replace_na(observation.fatigue_duration) %></td>
        <td><%= replace_na(observation.fever_duration) %></td>
        <td><%= replace_na(observation.headache_duration) %></td>
        <td><%= replace_na(observation.hospital_admission_date) %></td>
        <td><%= replace_na(observation.hospital_discharge_date) %></td>
        <td><%= replace_na(observation.itn_last_night) %></td>
        <td><%= replace_na(observation.jaundice_duration) %></td>
        <td><%= replace_na(observation.joint_pains_duration) %></td>
        <td><%= replace_na(observation.malaria_diagnosis) %></td>
        <td><%= replace_na(observation.malaria_diagnosis_and_parasite_status) %></td>
        <td><%= replace_na(observation.malaria_treatment) %></td>
        <td><%= replace_na(observation.muscle_aches_duration) %></td>
        <td><%= replace_na(observation.non_malaria_medication) %></td>
        <td><%= replace_na(observation.other_diagnosis) %>
        <td><%= replace_na(observation.other_medical_complaint) %></td>
        <td><%= replace_na(observation.plasmodium_gametocytes_present) %></td>
        <td><%= replace_na(observation.seizures_duration) %></td>
        <td><%= replace_na(observation.severe_malaria_criteria) %></td>
        <td><%= replace_na(observation.subjective_fever) %></td>
        <td><%= replace_na(observation.submicroscopic_plasmodium_present) %></td>
        <td><%= replace_na(observation.visit_type) %></td>
        <td><%= replace_na(observation.vomiting_duration) %></td>
      </tr>
    <% end %>
  </table>
</div>

<br>
<div class="text-center">
  <div class="page_info">
    <%= page_entries_info @observations %>
  </div>
  <%= will_paginate @observations, :container => false, 
  renderer: WillPaginate::ActionView::BootstrapLinkRenderer, 
  list_classes: %w(pagination justify-content-center) %>
</div>