<nav class="navbar navbar-expand-lg navbar-light scheme">
  <a class="navbar-brand" href="/">
    <%= image_tag("eye_logo.png", :alt => "logo", :size => "64x44") %>
    <span class="logo">Syndasera</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%= 'active' if current_page?(root_path) %>">
        <a class="nav-link" href="<%= root_path %>">Home</a>
      </li>
      <li class="nav-item <%= 'active' if current_page?(about_path) %>">
        <a class="nav-link" href="<%= about_path %>">About</a>
      </li>
      <li class="nav-item <%= 'active' if current_page?(prism_dashboard_path) %>">
        <a class="nav-link" href="<%= prism_dashboard_path %>">PRISM Dashboard</a>
      </li>
      <li class="nav-item <%= 'active' if current_page?(requests_new_path) %>">
        <a class="nav-link" href="<%= requests_new_path %>">Make A Request</a>
      </li>
      <li class="nav-item <%= 'active' if current_page?(our_methods_path) %>">
        <a class="nav-link" href="<%= our_methods_path %>">Our Methods</a>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
        <li>
            <div class="btn-nav">
                <%= link_to('Sign Up', new_user_registration_path, :class => "btn btn-secondary") %>
            </div>
        </li>
        <li>
            <div class="btn-nav">
                <%= link_to('Log In', new_user_session_path, :class => "btn btn-secondary") %>
            </div>
        </li>
    </ul>
  </div>
</nav>
