<!DOCTYPE html>
<html>
  <head>
    <title>Syndasera</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('logo.png') %>

    <%= render 'layouts/navbar' %>
  </head>

  <body>
    <div class='container body-container' id="content">
      <%= yield %>
    </div>
    <br>
    <%= render 'layouts/footer' %>
  </body>
</html>
